<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
    <head>
        <title>Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta content='width=device-width, initial-scale=1' name='viewport'/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
        <script src="ajaxGetPost.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Home Page</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
        <script src="js/app.js"></script>

        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    </head>

    <body style="background-image:url(https://dncache-mauganscorp.netdna-ssl.com/cropped-wallpapers/1252/1252289-1366x768-[DesktopNexus.com].jpg?st=yhRHn1ULQRmdYcl3ik3b3Q&e=1480741284)" ng-controller="RegisterController">
        <center>
            <b>
                <h1 style="color:white">Twitter Analytics</h1>
            </b>
        </center>
        <br>
        <center>
            <p class="w3-display-middle w3-center">
                <span class="w3-text-white" style="font-size:40px">Twitter Travel Tweets Analysis</span>
            </p>  </center>
        <div class="btn-group-vertical" role="group" arial-label="Vertical button group" ng-init="home()">
            <button type="button" class="button button3" style="height:50px;width:290px;background-color:#3B3A3A;color:white;border: solid 2px brown;" ng-click="home()">&nbsp; Home   &nbsp; </button><br><br>
            <button type="button" class="button button3" style="height:50px;width:290px;background-color:#3B3A3A;color:white;border: solid 2px brown;" ng-click="query1()">Location wise tweets</button><br><br>
            <button type="button" class="button button3" style="height:50px;width:290px;background-color:#3B3A3A;color:white;border: solid 2px brown;" ng-click="query2()">Accounts Creation Count</button><br><br>
            <button type="button" class="button button3" style="height:50px;width:290px;background-color:#3B3A3A;color:white;border: solid 2px brown;" ng-click="query3()">Tweets from timezones</button><br><br>
            <button type="button" class="button button3" style="height:50px;width:290px;background-color:#3B3A3A;color:white;border: solid 2px brown;" ng-click="query4()">Hashtags Count for words</button><br><br>
            <button type="button" class="button button3" style="height:50px;width:290px;background-color:#3B3A3A;color:white;border: solid 7px brown;" ng-click="query5()">Trending Locations</button><br>
        </div>

        <div id="iframe1" style="position:absolute;top:80px;left:300px" ng-hide="visibile">
            <iframe height="550px" src="{{srcc}}" width="950px" scrolling="yes"></iframe>
        </div>

        <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>
