.button {
    background-color: #ed4004;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button3{
    border-radius: 8px;
}

.button:hover {
    border: 2px solid #f82d10;
    background: #fb8474;
    color: #fff;
}

.button:active {
    border: 1px solid #0a3c59;
    background: #65a9d7;
    color: #fff;
}

h1, b{
color: #470563;
font-size: 54px;
}

